
.footer {
    margin-top: 20px;
    background: #008000;
    display: flex;
    justify-content: center;
    align-items: left;
    
    /*position: fixed;
    left: 0; bottom: 0;
    width: 100%;*/
}

.logo img{
    height: 40px;
    display:block; 
    margin:15px auto 15px 10px;
  
}

.right{
    flex-grow: 1;
    margin: auto;
    padding: auto;
    color: #ffffff;
   text-align: center;
   vertical-align: middle;
}